@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Qtec - Mini Account Management System</h1>
    <p>Developed By Adnan Sami (Work In Progress)</p>
</div>
