@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">



    <img src="~/__Qtec.jpg" height="100px" width="100px" />
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1>Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1>Welcome To Qtec</h1>
    }
</div>
