@page
@model dot_net_qtec.Pages.Accountant.Vouchers.CreateModel
@{
    <h1>Voucher Entry Form</h1>

    <form id="main-form" method="post">
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <div class="mb-3">
            <label>Voucher Category</label>
            <select asp-for="_CreateVoucherDto.Category">
                <option value="journal" selected>Journal</option>
                <option value="payment">Payment</option>
                <option value="receipt">Receipt</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Date</label><br />
            <input asp-for="_CreateVoucherDto.Date" />
        </div>

        <div class="mb-3">
            <label>Reference No</label><br />
            <input asp-for="_CreateVoucherDto.Ref" />
        </div>

        <h1 class="fs-4">Debit / Credit Entry Details</h1>

        <table class="table">
            <thead>
                <td>#</td>
                <td>Account</td>
                <td>Debit</td>
                <td>Credit</td>
            </thead>

            <tbody id="entries-table"></tbody>
        </table>


    </form>

    <form id="entry-form">
        <table class="tables">
            <tbody>
                <tr></tr>
                <tr>
                    Select

                    <select name="accountId" asp-for="_SubAccountDto.Id">

                        @foreach (var _SubAccount in @Model._SubAccounts)
                        {
                            <option value="@_SubAccount.Id">@_SubAccount.Name</option>
                        }
                    </select>
                </tr>
                <tr>&nbsp;Debit <input type="number" name="debit" step="any" /></tr>
                <tr>&nbsp;Credit <input type="number" name="credit" step="any" /></tr>
                <tr>&nbsp;<button>+Add New Entry</button></tr>
            </tbody>
        </table>
    </form>
}

@section Scripts {
    <script type="text/javascript">
        const entries = {};


        const entryForm = document.getElementById('entry-form');
        entryForm.addEventListener('submit', (event) => {
            event.preventDefault();
            console.log(event.target.elements);
            const { accountId, debit, credit } = event.target.elements;

            entries[Object.keys(entries).length + 1] = {
                AccountId: parseFloat(accountId.value),
                Debit: parseFloat(debit.value),
                Credit: parseFloat(credit.value)
            }

            updateUI();
            event.target.reset();
        })

        const mainForm = document.getElementById('main-form');
        mainForm.addEventListener('submit', (event) => {

            const entriesInput = document.createElement('input');
            entriesInput.type = 'hidden';
            entriesInput.name = '_CreateVoucherDto.Entries';
            entriesInput.value = JSON.stringify(entries);

            event.target.appendChild(entriesInput);
        })


        function updateUI() {
            const entriesTable = document.getElementById('entries-table');
            let entriesHTML = '';

            for (let i = 0; i < Object.keys(entries).length; i++) {
                const entry = entries[i + 1];
                entriesHTML = entriesHTML + `<tr><td>${i + 1}</td><td>${entry.AccountId}</td><td>${entry.Debit}</td><td>${entry.Credit}</td></tr>`;
            }

            entriesTable.innerHTML = entriesHTML;
        }
    </script>
}
